
Case_Oxygen/

Case_Oxygen_simple/

bulid_oxygen/

Case_Oxygen/

Case_Oxygen_simple/

bulid_oxygen/

Case_Argon_WOTG/

Case_Streamer/

post_Q1D_Argon/

bulid/

Case_Argon_LFA/

Case2D/

Case_PIC_ARGON/

bulid_2d/

Case_Nina/

Run_Nina/

Run_Nina2/

Case_Donko/

Run_Osaka/

run_vpp800/

run_vpp800_energy/

run_vpp800_cross/

run_vpp800_vary_cross/

run_vpp800_vary_cross_consTi/

Run_Streamer/

OPT_CASE_INPUT/

run_case_folder/

test_bulid/

run_200Pa/

Case_NewChamber/

Run_NewChamber/

RUN_GEC/cmake_install.cmake

RUN_GEC/

mpi_test/

2020_1D_Vpp300_200Pa/

2020_1D_Vpp400_13p33Pa/

2020_1D_Vpp800_13p33Pa/

Case_Donko_Maxwellian/

RUN_200Pa_300Vpp_13p56MHz_Maxwellian/

2020_1D_Vpp300_200Pa_refine/
